/CS3LearningSuite_v2.0/apps/goLogoLo/build/
/CS3LearningSuite_v2.0/apps/ToDoListMaker/dist/
/CS3LearningSuite_v2.0/apps/ToDoListMaker/build/
/CS3LearningSuite_v2.0/libs/DesktopJavaFramework/build/
/CS3LearningSuite_v2.0/libs/DesktopJavaFramework/dist/
/CS3LearningSuite_v2.0/apps/goLogoLo/dist/